.formulaire-inscription{
  fieldset{
    border: 0;
    legend{
      display: none;
    }

    p{
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
     }
  }

  input[type="submit"]{
    border: 1px solid $gray-700;
    background-color: $gray-100;
    border-radius: 4px;
  }

}

@media screen and (min-width: $vw-medium) {
  .formulaire-inscription {
    width: 400px;
    margin: 0 auto;
    fieldset {
      legend {
        display: none;
      }

      p {
        flex-direction: row;

        label{
          min-width: 150px;
        }
      }
    }
  }
}