.header-page{
  background-color: #ff54a6;
  padding: 0 10px;

  ul{
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;

    nav{
      display: flex;
      flex-direction: column;
    }

    li ul{
      background: $color-bg-dark;

      display: none;

      position: absolute;
      top:100%;
      left: 0;
    }

    a{
      display: block;
      padding: 20px 10px;
    }
    
    li:hover{
      background-color: #ee8700;

      ul{
        display: block;
      }
    }
  }

}

@media screen and (min-width:$vw-medium ){
  .header-page{
  nav{
    flex-direction: row;
    justify-content: space-between;

    ul{
      display: flex;
      justify-content: flex-end;
      width: auto;
    }
  }
  }
}